{% extends 'base.html.twig' %}

{% block title %}Edit evenement{% endblock %}

{% block body %}
    <h1>Modifier un evenement</h1>

    {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('evenement_index') }}">back to list</a> #}

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
