{% extends 'base.html.twig' %}

{% block title %}NouvelEvenement{% endblock %}

{% block body %}
    <h1>Creer de nouveau Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

{% endblock %}
