{% extends 'base.html.twig' %}

{% block title %}Etat de la Commande
{% endblock %}


{% form_theme listecommande 'bootstrap_4_layout.html.twig' %}
{% block body %}
	<div style="overflow-x: hidden;">
		{% include "template_parts/_nav2.html.twig" %}
		<div class="example-wrapper mb-2">
			<h1 class="text-center">Etat de la Commande
			</h1><br>
		</div>
		<div class="row">
			<div class="jumbotron " style="width:50%; margin-left:15%;">
				<table class="table table-hover">
					<thead class="table-warning">
						<th>Non Traité</th>
						<th>Nul (etat initial)</th> 
						<th>En cours de traitement</th>
						<th>En transit</th>
						<th>Remis</th>
					</thead>
					<tbody>
						<tr>
							<td>3</td>
							<td>Nul</td>
							<td>2</td>
							<td>1</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group ">
					{{ form(listecommande) }}
					</div>
				</div>
				<div>
					<img class=" container rounded float-left " class="img-fluid ml-1" style="height: 26em; width:30em; margin-Bottom:5%; display: block;" src="{{asset ('assets/images/canne.jpg')}}">
				</div>
			</div>
		</div>
    </div>
	{% endblock %}
