<div class="form-group ">
	{{ form_start(form) }}
	{# <div class="row" style="margin-left:0.25%;"> #}
		{{ form_widget(form) }}
	{# </div> #}
	<button class="btn btn-warning">{{ button_label|default('enregister ce rendez-vous') }}</button>
	{{ form_end(form) }}
</div>
